# MUST
Django==3.2.5
pandas==1.2.4

pylint == 2.9.3

requests == 2.25.1
requests-oauthlib == 1.3.0

mysqlclient == 2.0.3

oauthlib == 3.1.1

django-environ == 0.4.5
djangorestframework == 3.12.4
environ == 1.0
setuptools == 56.0.0

moviepy == 1.0.2

gunicorn
django-cors-headers

opencv-contrib-python==4.5.2.52

h5py  == 3.1.0
Keras == 2.4.3
keras-nightly == 2.5.0.dev2021032900
Keras-Preprocessing == 1.1.2

numpy == 1.19.5

scipy == 1.7.0

tensorflow == 2.5.0
tensorflow-estimator == 2.5.0
