body {
    position: absolute;
    background: #F7F7F7;
    box-sizing: border-box;
}

#mainbox{
    position: relative;
    width: 734px;
    height: 632px;
    left: 353px;
    top: 204px;

    background: #FFFCFC;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#line1{
    position: relative;
    width: 731px;
    left: 0;
    top: 85px;

    border: 0.01px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    transform: rotate(180deg);
}

#line2{
    position: relative;
    width: 542px;
    right: 200px;
    top: 348px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(-90deg);
    filter: blur(0.1px);
}

#logo {
    position: relative;
    width: 149px;
    float: left;
    left: 10px;
}

.leftbar{
    position: relative;
    left: 20px;
    top: 100px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;

}

#emotions {
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    right: 40px;
    bottom: 50px;
    text-align: left;
    list-style-type : none;
}

.videos{
    display: block;
    position: relative;
    bottom: 420px;
    left: 200px;
}

.videoBox {
    position: relative;
    display: block;
    text-align: left;
} 

.videoThumbnail {
    display: inline;
    position: relative;
    width: 150px;
    height: 70px;
    border: 1px solid;
}

.videoEmotions{
    position: relative;
    display: inline;
    bottom: 27px;
    left: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}

.checkbox{
    position: absolute;
    display: inline;
    bottom: 370px;
    right: 40px;
}

#c2 {
    position: relative;
    top: 55px;
}

#c3 {
    position: relative;
    top: 110px;
}

#c4 {
    position: relative;
    top: 165px;
}

#c5 {
    position: relative;
    top: 220px;
}

.btn {
    font-family: inherit;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}
  
.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#selectButton {
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    text-align: center;
    font-family: Georgia;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 570px;
    bottom: 50px;
    width: 100px;
    height: 30px;
}

#loading2 {
    position: absolute;
    top: 540px;
    left: 430px;
    height: 50px;
    width: 50px;
}