body {
    position: absolute;
    width: 1440px;
    height: 1024px;
    background: #F7F7F7;
    box-sizing: border-box;
}

#mainbox{
    position: relative;
    width: 734px;
    height: 632px;
    left: 353px;
    top: 204px;

    background: #FFFCFC;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

#line1{
    position: relative;
    width: 731px;
    left: 0;
    top: 85px;

    border: 0.01px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    transform: rotate(180deg);
}

#line2{
    position: relative;
    width: 542px;
    right: 200px;
    top: 348px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
    transform: rotate(-90deg);
    filter: blur(0.1px);
}

#logo {
    position: relative;
    width: 149px;
    float: left;
    left: 10px;
}

/* tag */

#tag {
    position: absolute;
    width: 542px;
    height: 58px;
    top: 400px;
    left: 20px;

    font-family: Abhaya Libre SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

#videoBox {
    width: 400px;
    height: 250px;
    border: 0.01px solid;
    position: relative;
    left: 250px;
    top: 100px;
}
#downloadButton {
    position: relative;
    width: 100px;
    height: 30px;
    left: 250px;
    top: 250px;
    font-family: Georgia;
    font-weight: bold; 
    text-align: center;
    background-color: white;
}

.btn {
    font-family: inherit;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
}
  
.btn:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
}

#progressStatus {
    position: absolute;
    top: 400px;
    left: 400px;
    height: 50px;
    width: 50px;
}


/* upload & share */

#upload_and_share{position: absolute;
width: 99px;
height: 19px;
left: 372px;
top: 370px;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;
}

/*////////////////////INSTAGRAM////////////////////*/

/*instagram component*/

#instagram{position: absolute;
width: 113px;
height: 30px;
left: 364px;
top: 449px;
}


/* Instagram */

#Instagram{position: absolute;
left: 41.59%;
right: 0%;
top: 16.67%;
bottom: 16.67%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}

/* instagram-image */

#instagram_image{position: absolute;
left: 6.19%;
right: 71.68%;
top: 0%;
bottom: 16.67%;

background: url('../images/instagram-logo.png');
}

/*////////////////////INSTAGRAM////////////////////*/

/*////////////////////TWITTER////////////////////*/

/*twitter component*/

#twitter{position: absolute;
width: 109px;
height: 30px;
left: 368px;
top: 490px;
}


/* Twitter */

#Twitter{position: absolute;
left: 39.45%;
right: 0%;
top: 13.33%;
bottom: 20%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}

/* twitter-image */

#twitter_image{position: absolute;
left: 4.59%;
right: 74.31%;
top: 0%;
bottom: 33.33%;

background: url('../images/twitter-logo.png');
}


/*////////////////////TWITTER////////////////////*/

/*////////////////////FACEBOOK////////////////////*/

/* facebook component*/

#facebook{position: absolute;
width: 109px;
height: 30px;
left: 368px;
top: 531px;
}


/* Facebook */

#Facebook{position: absolute;
left: 39.45%;
right: 0%;
top: 10%;
bottom: 23.33%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}


/* facebook image*/

#facebook_image{position: absolute;
left: 4.59%;
right: 73.39%;
top: 0%;
bottom: 23.33%;

background: url('../images/facebook-logo.png');
}
/*////////////////////FACEBOOK////////////////////*/

/*////////////////////YOUTUBE////////////////////*/

/* youtube component*/

#youtube{position: absolute;
    width: 114px;
    height: 28.95px;
    left: 365px;
    top: 409px;
    }
    
    
    /* youtube image */
    
    #youtube_image{position: absolute;
    left: 5.26%;
    right: 68.42%;
    top: 10.36%;
    bottom: 10.2%;
    
    background: url('../images/youtube-logo.png');
    }
    
    /* Youtube */
    
    #Youtube{position: absolute;
    left: 42.11%;
    right: 0%;
    top: 20.72%;
    bottom: 10.2%;
    
    font-family: Abhaya Libre SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
    }

/*////////////////////YOUTUBE////////////////////*/

/* Download button */

#download_button{position: absolute;
width: 84px;
height: 26px;
left: 931px;
top: 681px;
}


/* Download_rectangle */

#download_rectangle{position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;
box-sizing: border-box;
}

/* Download */

#download{position: absolute;
left: 13.19%;
right: 7.69%;
top: 15.38%;
bottom: 0%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;

color: #000000;
}




/* show video */

#show_video{position: absolute;
width: 430px;
height: 215px;
left: 580px;
top: 350px;

background: #FFFBFB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}