/* body */

body{position: relative;
width: 1440px;
height: 1024px;

background: #F7F7F7;
border: 2px solid #000000;
box-sizing: border-box;
}

/* background */

#background{position: absolute;
width: 734px;
height: 632px;
left: 353px;
top: 204px;

background: #FFFCFC;
border: 0.3px solid rgba(0, 0, 0, 0.74);
box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

/* logo */

#logo{position: absolute;
width: 149px;
height: 55px;
left: 364px;
top: 234px;
}

/* Line 4 */

#Line4{position: absolute;
width: 734.01px;
height: 0px;
left: 1087px;
top: 285px;

border: 0.5px solid rgba(0, 0, 0, 0.3);
filter: blur(4px);
transform: rotate(179.69deg);
}

/* Line 5 */

#Line5{position: absolute;
width: 547.01px;
height: 0px;
left: 491px;
top: 836px;

border: 0.5px solid rgba(0, 0, 0, 0.3);
transform: rotate(-89.58deg);
}

/* tag */

#tag{position: absolute;
width: 542px;
height: 58px;
left: 583px;
top: 608px;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;

color: #000000;
}


/* upload & share */

#upload_and_share{position: absolute;
width: 99px;
height: 19px;
left: 372px;
top: 370px;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;

color: #000000;
}

/*////////////////////INSTAGRAM////////////////////*/

/*instagram component*/

#instagram{position: absolute;
width: 113px;
height: 30px;
left: 364px;
top: 449px;
}


/* Instagram */

#Instagram{position: absolute;
left: 41.59%;
right: 0%;
top: 16.67%;
bottom: 16.67%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}

/* instagram-image */

#instagram_image{position: absolute;
left: 6.19%;
right: 71.68%;
top: 0%;
bottom: 16.67%;

background: url('../images/instagram-logo.png');
}

/*////////////////////INSTAGRAM////////////////////*/

/*////////////////////TWITTER////////////////////*/

/*twitter component*/

#twitter{position: absolute;
width: 109px;
height: 30px;
left: 368px;
top: 490px;
}


/* Twitter */

#Twitter{position: absolute;
left: 39.45%;
right: 0%;
top: 13.33%;
bottom: 20%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}

/* twitter-image */

#twitter_image{position: absolute;
left: 4.59%;
right: 74.31%;
top: 0%;
bottom: 33.33%;

background: url('../images/twitter-logo.png');
}


/*////////////////////TWITTER////////////////////*/

/*////////////////////FACEBOOK////////////////////*/

/* facebook component*/

#facebook{position: absolute;
width: 109px;
height: 30px;
left: 368px;
top: 531px;
}


/* Facebook */

#Facebook{position: absolute;
left: 39.45%;
right: 0%;
top: 10%;
bottom: 23.33%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;

color: #000000;
}


/* facebook image*/

#facebook_image{position: absolute;
left: 4.59%;
right: 73.39%;
top: 0%;
bottom: 23.33%;

background: url('../images/facebook-logo.png');
}
/*////////////////////FACEBOOK////////////////////*/

/*////////////////////YOUTUBE////////////////////*/

/* youtube component*/

#youtube{position: absolute;
    width: 114px;
    height: 28.95px;
    left: 365px;
    top: 409px;
    }
    
    
    /* youtube image */
    
    #youtube_image{position: absolute;
    left: 5.26%;
    right: 68.42%;
    top: 10.36%;
    bottom: 10.2%;
    
    background: url('../images/youtube-logo.png');
    }
    
    /* Youtube */
    
    #Youtube{position: absolute;
    left: 42.11%;
    right: 0%;
    top: 20.72%;
    bottom: 10.2%;
    
    font-family: Abhaya Libre SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
    color: #000000;
    }

/*////////////////////YOUTUBE////////////////////*/

/* Download button */

#download_button{position: absolute;
width: 84px;
height: 26px;
left: 931px;
top: 681px;
}


/* Download_rectangle */

#download_rectangle{position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

border: 2px solid #000000;
box-sizing: border-box;
}

/* Download */

#download{position: absolute;
left: 13.19%;
right: 7.69%;
top: 15.38%;
bottom: 0%;

font-family: Abhaya Libre SemiBold;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 21px;

color: #000000;
}




/* show video */

#show_video{position: absolute;
width: 430px;
height: 215px;
left: 580px;
top: 350px;

background: #FFFBFB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}